@import "./variables";

.container {
  max-width: 1200px;
  padding: 0px 16px;
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;

  @media screen and (max-width:1200px) {
    max-width: 1080px;
  }

  @media screen and (max-width:900px) {
    max-width: 800px;
  }
}