.Modal {
  .backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
  }

  .modal-container {
    z-index: 999;
    max-height: 94vh;
    max-width: 94vw;
    min-width: 300px;
    min-height: 300px;
    width: 15cm;
    min-height: 40vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 8px;
    background-color: #fff;
    color: #111111;
    animation: modal-up .375s ease 0s 1;

    .header {
      position: relative;
      font-weight: 500;
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      min-height: 24px;
      background-color: #eeeeee;
      box-shadow: 0 0 4px rgba(0, 0, 0, .25);

      .close-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;

        button {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: inherit;
          border: none;
          color: inherit;
          display: grid;
          place-items: center;
          cursor: pointer;
          font-size: 1.2rem;

          &:active {
            transform: scale(.94);
          }

        }
      }
    }

    .body {
      padding: 1rem 1rem;
      max-height: 64vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 99;
      padding: 1rem;
      box-sizing: border-box;
    }
  }
}

@keyframes modal-up {
  0% {
    opacity: 0;
    top: 60%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }

}