@import "../../styles/variables";


.Header {
  height: 64px;
  padding: 8px 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $dark1;
  position: relative;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

  @media screen and (max-width:1200px) {
    padding: 8px 2rem;
  }

  @media screen and (max-width:900px) {
    padding: 8px 1rem;
  }

  .logo {
    height: 48px;
    margin: 0px 8px;
  }

  .section {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .title {
    font-size: 20px;
    @media screen and (max-width:600px) {
      display: none;
    }

  }
}